<div class="row">
    <div class="col-xs-12">
        <h2>Liste des patients</h2>
        <div class="list-group">
            <table class="table table-hover">
                <thead>
                    <th>#</th>
                    <th>Date enrégistrement</th>
                    <th>Nom</th>
                    <th>Postnom</th>
                    <th>Date de naissance</th>
                    <th>lieu de naissance</th>
                    <th>N° Fiche</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let patient of patients; let i = index">
                        <td>{{ i }}</td>
                        <td>{{ patient.dateEnregistrementPatient }}</td>
                        <td>{{ patient.nomPatient }}</td>
                        <td>{{ patient.postnomPatient }}</td>
                        <td>{{ patient.dateNaissance }}</td>
                        <td>{{ patient.lieuNaissance }} </td>
                        <td>{{ patient.idFichePatient }} </td>
                        <td><a routerLink="/viewpatient/{{ patient.id }}">Voir</a>  </td>
                    </tr>
                </tbody>
            </table>
            <!--button class="list-group-item"
                *ngFor="let patient of patients; let i = index" (click)="onViewPatient(i)">
                <h3 class="list-group-item-heading">{{ patient.nomPatient }}</h3>
            </button-->
        </div>
    </div>
</div>