<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <th>Nom</th>
                <th>Postnom</th>
                <th>Date de Naissance</th>
                <th>Lieu de Naissance</th>
                <th>N° Fiche</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ patient }}</td>
                </tr>
                <tr *ngFor="let pat of patient">
                    <td>{{ pat.nomPatient }}</td>
                    <td>{{ pat.postnomPatient }}</td>
                    <td>{{ pat.lieuNaissance }}</td>
                    <td>{{ pat.dateNaissance }}</td>
                    <td>{{ pat.idFichePatient }}</td>
                    
                </tr>
                
            </tbody>
        </table>
        
        
    </div>
</div>